#!/bin/bash
# This script requires jq.  Bail if not found.  You can download a static binary from the jq homepage.
if ! command -v ./jq &> /dev/null
then
    echo "jq could not be found. Please install and try again"
    exit
fi
#mysqldump - assumes you have a .my.cnf file in place
# Not necessary on May First old infrastructure - "backups" folder is a sibling of "web".
{% if nosudo_backup_dbs is defined %}
{% for db in nosudo_backup_dbs %}
mysqldump --single-transaction=TRUE --routines {{ db }} | gzip --rsyncable > {{ sqldumps_path }}/{{ db }}.sql.gz
{% endfor %}
{% endif %}

# Generate obfuscated versions of dbs if necessary
{% if obfuscate_dbs is defined %}
{% for db in obfuscate_dbs %}
zcat {{ sqldumps_path }}/{{ db }}.sql.gz | mysql {{ db }}_obfuscated
{% endfor %}
{% endif %}
{% if obfuscate_dbs_civi is defined %}
{% for db in obfuscate_dbs_civi %}
  echo "UPDATE civicrm_contact INNER JOIN civicrm_contact AS c2 ON civicrm_contact.id = c2.id SET civicrm_contact.sort_name = CONCAT( 'Anonymous', ', ', c2.id ) WHERE civicrm_contact.id = c2.id; \
  UPDATE civicrm_contact INNER JOIN civicrm_contact AS c2 ON civicrm_contact.id = c2.id SET civicrm_contact.display_name = CONCAT( c2.id, ' ', 'Anonymous' ) WHERE civicrm_contact.id = c2.id; \
  UPDATE civicrm_contact INNER JOIN civicrm_contact AS c2 ON civicrm_contact.id = c2.id SET civicrm_contact.last_name = 'Anonymous' WHERE civicrm_contact.id = c2.id; \
  UPDATE civicrm_contact INNER JOIN civicrm_contact AS c2 ON civicrm_contact.id = c2.id SET civicrm_contact.first_name = c2.id WHERE civicrm_contact.id = c2.id; \
  UPDATE civicrm_contact SET birth_date = STR_TO_DATE('01,1,1999','%d,%m,%Y'); \
  UPDATE civicrm_address SET street_address = 'Anonymous', supplemental_address_1 = 'Anonymous', postal_code = 'Anonymous'; \
  UPDATE civicrm_address SET postal_code = null,postal_code_suffix = null,geo_code_1 = null,geo_code_2 = null; \
  UPDATE civicrm_contact SET email_greeting_display = 'Dear Anonymous', addressee_display = 'Anonymous , Anonymous'; \
  UPDATE civicrm_contact SET postal_greeting_display = 'Dear Anonymous', addressee_display = 'Anonymous , Anonymous'; \
  UPDATE civicrm_email INNER JOIN civicrm_email AS e2 ON civicrm_email.id = e2.id SET civicrm_email.email = CONCAT( e2.id ,'@','example.com' ) WHERE civicrm_email.id = e2.id; \
  UPDATE civicrm_phone SET phone = md5(phone); \
  UPDATE civicrm_note SET note = md5(note), subject = md5(subject); \
  UPDATE civicrm_payment_processor cpp SET cpp.user_name = 'anonymised', cpp.password = 'anonymised', cpp.signature = 'anonymised' WHERE cpp.user_name NOT LIKE '%dummy%';" \
  | mysql {{ db }}_obfuscated
{% endfor %}
{% endif %}
{% if obfuscate_dbs_drupal is defined %}
{% for db in obfuscate_dbs_drupal %}
  echo " TRUNCATE user__user_picture; \
  UPDATE users_field_data SET \
    name = CONCAT('User ', uid),
    mail = CONCAT(uid, '@example.org'),
    init = CONCAT(uid, '@example.org')
  WHERE name NOT IN ('admin', 'monitor') AND uid > 0;" \
  | mysql {{ db }}_obfuscated
{% endfor %}
{% endif %}
{% if obfuscate_dbs is defined %}
{% for db in obfuscate_dbs %}
mysqldump --single-transaction=TRUE --routines {{ db }}_obfuscated | gzip --rsyncable > {{ sqldumps_path }}/{{ db }}_obfuscated.sql.gz
{% endfor %}
{% endif %}



{% if nosudo_backup_structure_only_dbs is defined %}
{% for db in nosudo_backup_structure_only_dbs %}
mysqldump --single-transaction=TRUE --no-data {{ db }} | gzip --rsyncable > {{ sqldumps_path }}/{{ db }}_structure.sql.gz
{% endfor %}
{% endif %}

{% if ssh_key_location is defined %}
export BORG_RSH='ssh -o UserKnownHostsFile={{ ssh_key_location + '/known_hosts' }} -i {{ ssh_key_location + '/id_ed25519' }}'
{% endif %}

# borg backupninja backup script
REPOSITORY="{{ rsyncnet_user }}@{{ rsyncnet_server }}:{{ client }}-{{ hostname }}-{{ bare_url }}"
export BORG_PASSPHRASE='{{ lookup('community.general.passwordstore', client + '/' + hostname + '/' + bare_url + '/borg/remote') }}'
export BORG_RELOCATED_REPO_ACCESS_IS_OK=yes
# On rsync.net: Specify /usr/local/bin/borg/borg for borg 0.29; /usr/local/bin/borg1 for 1.x
REMOTE_PATH=/usr/local/bin/borg1/borg1

ICINGA2_API_USER=backupninja
ICINGA2_SERVER_ADDRESS=icinga-api.megaphonetech.com
ICINGA2_API_PORT=443
ICINGA2_API_PASSWORD="{{ lookup('community.general.passwordstore', 'megaphone/icinga2/api') }}"
ICINGA2_HOSTNAME={{ server }}
# Set level to 0, "OK", and we'll change it if anything goes wrong.
LEVEL=0
# Run the backup.
OUTPUT=$( (
{{ ansible_env.HOME }}/bin/borg create --warning --filter=AME --stats --compression lz4         \
--remote-path $REMOTE_PATH \
$REPOSITORY::'{hostname}-{now:%Y-%m-%d}' \
{% for dir in nosudo_backup_dirs %}
{{ dir }} \
{% endfor %}
--exclude '**/templates_c' \
--exclude '**/tmp/' \
--exclude '**/temp/' \
--exclude '/home/*/.steam/steam/steamapps/common/' \
--exclude '/home/**/.cache' \
--exclude '/root/.cache' \
--exclude '/home/**/.mozilla/firefox/*/Cache' \
--exclude '/home/**/.thunderbird/*/global-messages-db.sqlite' \
--exclude '**/borg' \
--exclude '/var/cache' \
--exclude '/var/lib' \
--exclude '/home/*/.composer/cache' \
--exclude '/home/*/.config/Code/*/bmewburn.vscode-intelephense-client' \
--exclude '/home/*/.config/google-chrome' \
--exclude '/home/*/.config/Nextcloud/logs' \
--exclude '/home/*/Games' \
--exclude '/home/*/.vscode-server' \
--exclude '/home/*/drush-backups' \
--exclude '**/civicrm/persist/contribute/dyn/' \
--exclude '**/sites/default/files/css/' \
--exclude '**/sites/default/files/ctools/css/' \
--exclude '**/sites/default/files/php/twig/' \
--exclude '**/sites/default/files/js/'
) 2>&1)

if [ $? -ne 0 ]
then
  # Is the error that a file changed?
  echo $OUTPUT | grep 'file changed while we backed it up'
  if [ $? -eq 0 ]
  then
    # Is the changed file one that's ok to change?  Currently files in /var/log, or in "wp-content/wflogs" or "ConfigAndLog".
    echo $OUTPUT  | sed --regexp-extended 's/ (A|M) /\n\1 /g' | grep -v --perl-regexp '(?:\/var\/log|.*web.log|.*\/logs\/).*file changed while we backed it up' | grep 'file changed while we backed it up'
    if [ $? -ne 1 ]
    then
      LEVEL=2
    fi
  else
    LEVEL=2
  fi
fi
printf "%s\n" "$OUTPUT" > {{ nosudo_logs_path }}/borg.log

# Remove old backups.
OUTPUT=${OUTPUT}\\n$( (
{{ ansible_env.HOME }}/bin/borg prune -v $REPOSITORY --glob-archives '{hostname}-*' --keep-daily=15 --keep-weekly=9 --keep-monthly=6 --remote-path $REMOTE_PATH
) 2>&1)
if [ $? -ne 0 ]
  then
  LEVEL=2
fi
printf "%s\n" "$OUTPUT" >> {{ nosudo_logs_path }}/borg.log

# Check the integrity of the backup.
OUTPUT=${OUTPUT}\\n$( (
{{ ansible_env.HOME }}/bin/borg check $REPOSITORY --remote-path $REMOTE_PATH
) 2>&1)
if [ $? -ne 0 ]
  then
  LEVEL=2
fi
printf "%s\n" "$OUTPUT" >> {{ nosudo_logs_path }}/borg.log
unset BORG_PASSPHRASE
# Escape JSON characters
echo $OUTPUT
OUTPUT=$( echo $OUTPUT | ./jq --raw-input --slurp --ascii-output . )
echo "after jq"
echo $OUTPUT
# Send to Icinga
DATA="{ \"exit_status\": $LEVEL, \"plugin_output\": ${OUTPUT} }"
/usr/bin/curl -k -s -u $ICINGA2_API_USER:$ICINGA2_API_PASSWORD -H 'Accept: application/json' -X POST "https://$ICINGA2_SERVER_ADDRESS:$ICINGA2_API_PORT/v1/actions/process-check-result?service=${ICINGA2_HOSTNAME}!backupninja-site-{{ bare_url }}" --data "${DATA}" > /dev/null
# Reschedule the next dummy backupninja check
RESCHEDULE_TIME=$(/bin/date -d "tomorrow 6am" "+%s")
RESCHEDULE_JSON="{ \"next_check\": \"${RESCHEDULE_TIME}\" }"
/usr/bin/curl -k -s -u $ICINGA2_API_USER:$ICINGA2_API_PASSWORD -H 'Accept: application/json' -X POST "https://$ICINGA2_SERVER_ADDRESS:$ICINGA2_API_PORT/v1/actions/reschedule-check?service=${ICINGA2_HOSTNAME}!backupninja-site-{{ bare_url }}" --data "${RESCHEDULE_JSON}" > /dev/null
